@{
    ViewData["Title"] = "REGISTRO DE LA U";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al registro de prueba de la Universidad de las americas</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://localhost:7113/Carreras" class="btn btn-primary">Crear Carrera</a>
    <a href="https://localhost:7113/SCarrilloModels" class="btn btn-primary">Crear Estudiante</a>
    <p style="color:RGB(153,0,255)">Que tengas buen dia</p>
</div>
